*{
    margin:0;
    padding:0;
}
body{
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
ul, li{
    list-style: none;
}
section{
    width:100%;
    height:100vh;
    overflow:hidden;
}
#footer{
    height:20vh;
}
nav{
    position:fixed;
    top:0;
    z-index:99;
    width:100%;
    height:80px;
    overflow: hidden;
}
nav ul{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
nav ul li{
    float:left;
    margin:0 20px;
    font-weight: bold;
    cursor: pointer;
}
nav span{
    color:#FFFFFF;
}
#nav-right{
    position:absolute;
    top:50%;
    right:2%;
    transform:translate(0,-50%);
}
#nav-right img{
    width:25px;
    height:25px;
    margin:0 7px;
    cursor: pointer;
}
#nav-mobile{
    display:none;
}
#title{
    background-color:pink;
}
#title .title{
    font-size:64pt;
    color:#FFF;
    position:absolute;
    left:50%;
    transform:translate(-50%,0);
    top:40%;
    font-weight:bold;
}
#title .description{
    font-size:16pt;
    color:#FFF;
    position:absolute;
    left:50%;
    transform:translate(-50%,0);
    top:56%;

}
#story{
    background-color:skyblue;
}
#nfts{
    background-color:bisque;
}
#nfts_title{
    color:white;
    font-weight: bold;
    font-size: 64pt;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 8%;
}
#nfts_slide_0{
    width: 200px;
    height: 200px;
    cursor: pointer;
    position: absolute;
    left:2%;
    margin-top:40%;
}
#nfts_slide_1{
    width: 300px;
    height: 300px;
    cursor: pointer;
    position: absolute;
    left:16%;
    margin-top:30%;
}
#nfts_slide_2{
    width: 400px;
    height: 400px;
    cursor: pointer;
    position: absolute;
    left:50%;
    transform: translate(-50%,0);
    margin-top:22%;
}
#nfts_slide_3{
    width: 300px;
    height: 300px;
    cursor: pointer;
    position: absolute;
    right:16%;
    margin-top:30%;
}
#nfts_slide_4{
    width: 200px;
    height: 200px;
    cursor: pointer;
    position: absolute;
    right:2%;
    margin-top:40%;
}
#teammates{
    background-color:greenyellow;
}
#faq{
    background-color:blue;
}
#footer{
    background-color:black;
}